* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkslategrey;
}

@media (max-width: 376px) {
  body {
    background-color: dimgray;
  }
  .wrapper {
    width: 375px;
    display: grid;
    grid-template-columns: 345px;
    grid-template-rows: 88px 137px 87px 87px 87px 87px 87px;
  }

  .we_help {
    width: 137px;
  }
}

