* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(122, 102, 82);
}

.context {
  max-width: 1050px;
  background-color: rgb(51, 141, 153);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 600px;
  border: 2px solid cyan;
  border-radius: 10px;
}

.main {
  width: 40%;
  background-color: #ffa500;
  text-align: center;
  border-radius: 10px;
}

.sidebar {
  width: 19%;
  background-color: #1d2432;
  text-align: center;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .context {
    flex-direction: column;
    align-items: center;
  }
  .main {
    height: 300px;
    width: 200px;
    border: 2px solid cyan;
  }
  .sidebar {
    margin-top: 20px;
    height: 300px;
    width: 200px;
    border: 2px solid cyan;
  }
}
